<div>
    <h2 id="page-heading">
        <span>ACME Transactions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-acme-transaction" [routerLink]="['/acme-transaction/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new ACME Transaction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="aCMETransactions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Account Number</span></th>
            <th><span>Transaction Date</span></th>
            <th><span>Amount</span></th>
            <th><span>Transaction Remark</span></th>
            <th><span>Transaction Type</span></th>
            <th><span>Available Balance</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let aCMETransaction of aCMETransactions ;trackBy: trackId">
                <td><a [routerLink]="['/acme-transaction', aCMETransaction.id, 'view' ]">{{aCMETransaction.id}}</a></td>
                <td>{{aCMETransaction.accountNumber}}</td>
                <td>{{aCMETransaction.transactionDate | date:'mediumDate'}}</td>
                <td>{{aCMETransaction.amount}}</td>
                <td>{{aCMETransaction.transactionRemark}}</td>
                <td>{{aCMETransaction.transactionType}}</td>
                <td>{{aCMETransaction.availableBalance}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/acme-transaction', aCMETransaction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/acme-transaction', aCMETransaction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'acme-transaction/'+ aCMETransaction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
