<div>
    <h2 id="page-heading">
        <span>ACME Bank Accounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-acme-bank-account" [routerLink]="['/acme-bank-account/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new ACME Bank Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="aCMEBankAccounts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Account Number</span></th>
            <th><span>Username</span></th>
            <th><span>Password</span></th>
            <th><span>First Name</span></th>
            <th><span>Last Name</span></th>
            <th><span>Email</span></th>
            <th><span>Phone</span></th>
            <th><span>Address</span></th>
            <th><span>Postal Code</span></th>
            <th><span>Pan Number</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let aCMEBankAccount of aCMEBankAccounts ;trackBy: trackId">
                <td><a [routerLink]="['/acme-bank-account', aCMEBankAccount.id, 'view' ]">{{aCMEBankAccount.id}}</a></td>
                <td>{{aCMEBankAccount.accountNumber}}</td>
                <td>{{aCMEBankAccount.username}}</td>
                <td>{{aCMEBankAccount.password}}</td>
                <td>{{aCMEBankAccount.firstName}}</td>
                <td>{{aCMEBankAccount.lastName}}</td>
                <td>{{aCMEBankAccount.email}}</td>
                <td>{{aCMEBankAccount.phone}}</td>
                <td>{{aCMEBankAccount.address}}</td>
                <td>{{aCMEBankAccount.postalCode}}</td>
                <td>{{aCMEBankAccount.panNumber}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/acme-bank-account', aCMEBankAccount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/acme-bank-account', aCMEBankAccount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'acme-bank-account/'+ aCMEBankAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
