<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="aCMEBankAccount">
            <h2><span>ACME Bank Account</span> {{aCMEBankAccount.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Account Number</span></dt>
                <dd>
                    <span>{{aCMEBankAccount.accountNumber}}</span>
                </dd>
                <dt><span>Username</span></dt>
                <dd>
                    <span>{{aCMEBankAccount.username}}</span>
                </dd>
                <dt><span>Password</span></dt>
                <dd>
                    <span>{{aCMEBankAccount.password}}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{aCMEBankAccount.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{aCMEBankAccount.lastName}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{aCMEBankAccount.email}}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{aCMEBankAccount.phone}}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{aCMEBankAccount.address}}</span>
                </dd>
                <dt><span>Postal Code</span></dt>
                <dd>
                    <span>{{aCMEBankAccount.postalCode}}</span>
                </dd>
                <dt><span>Pan Number</span></dt>
                <dd>
                    <span>{{aCMEBankAccount.panNumber}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/acme-bank-account', aCMEBankAccount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
